# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Env
.env
.env.local
.env.*.local

# Vercel
.vercel

# DB
*.db
*.db-journal
prisma/dev.db

# Misc
.DS_Store
Thumbs.db
*.log
npm-debug.log*
tsconfig.tsbuildinfo

.env*
